<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">





<mapper namespace="com.board.company.mapper.CompanyMapper">  
	
	
	
	<select id="login" >
		
    SELECT
	    USER_ID,
   		USERNAME,
    	EMAIL,
    	PASSWORD,
    	PHONE_NUMBER,
   		ADDRESS,
   		J_DATE
	FROM
	    USERS
	 WHERE 
        USER_ID = #{param1,jdbcType=VARCHAR}
    AND
        PASSWORD = #{param2,jdbcType=VARCHAR}
   </select>
   
   
</mapper>
